.modal {
  height: 450px;
  width: 800px;
}

.edit__button {
  border-radius: 35px;
  padding: 5px 10px;
  bottom: 0;
  background-color: white;
  margin-left: 10px;
  margin-bottom: 25px;
  cursor: pointer;
  color: black;
}
