.wishlist__grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 25px;
  padding-top: 20px;
}

.wishlist__card {
  display: flex;
  background-color: rgb(247, 247, 223);
  margin: 15px;
  width: 500px;
  padding: 20px;
  box-shadow: 0px 5px 5px lightgray;
  position: relative;
}

#wishlistWine__image {
  height: 350px;
  max-width: 100%;
  max-height: 100%;
}

.wishlist__button-grid {
  display: flex;
  align-items: center;
}

#wishlist__button {
  font-weight: bold;
  border-radius: 100px;
  padding: 10px;
  border-color: transparent;
  color: rgb(121, 106, 106);
  box-shadow: 0px 2px 2px lightgray;
  cursor: pointer;
}

#wishlist__button:hover {
  background-color: rgba(114, 47, 55, 0.527);
}

.singleWine__cardInfo {
  margin: 5px;
  word-wrap: break-word;
  font-family: "Noto Sans JP", sans-serif;
  margin-left: 25px;
}
