.wishlist__grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 25px;
  padding-top: 20px;
}

.wishlist__card {
  display: flex;
  background-color: #f6f3ef;
  margin: 15px;
  width: 500px;
  padding: 20px;
  box-shadow: 0px 5px 5px lightgray;
  position: relative;
}

#wishlistWine__image {
  height: 350px;
  max-width: 100%;
  max-height: 100%;
}

.wishlist__button-grid {
  display: flex;
  align-items: center;
}

#wishlist__button {
  font-weight: bold;
  cursor: pointer;
  color: #722f37;
}

#wishlist__button:hover {
  color: #992634;
}

.singleWine__cardInfo {
  margin: 5px;
  word-wrap: break-word;
  font-family: "Noto Sans JP", sans-serif;
  margin-left: 25px;
}

#nowWishlist_grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #722f37;
  min-height: 80vh;
  margin-left: 450px;
  width: 500px;
}

#noWishlist_button {
  font-weight: bold;
  border-radius: 56px;
  padding: 10px 35px;
  bottom: 0;
  margin-bottom: 25px;
  border-color: transparent;
  background-color: #489c68a8;
  color: white;
  cursor: pointer;
}
