.wishlist__grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 25px;
  padding-top: 20px;
}

.wishlist__card {
  display: flex;
  background-color: rgb(247, 247, 223);
  margin: 15px;
  width: 500px;
  padding: 20px;
  box-shadow: 0px 5px 5px lightgray;
  position: relative;
}

#wishlistWine__image {
  height: 350px;
  max-width: 100%;
  max-height: 100%;
}

.wishlist__button-grid {
  display: flex;
  align-items: center;
}

#wishlist__button {
  font-weight: bold;
  cursor: pointer;
  color: #722f37;
}

#wishlist__button:hover {
  color: #992634;
}

.singleWine__cardInfo {
  margin: 5px;
  word-wrap: break-word;
  font-family: "Noto Sans JP", sans-serif;
  margin-left: 25px;
}
