.comments__grid {
  padding-left: 150px;
  padding-bottom: 50px;
  padding-top: 20px;
  background-color: rgba(250, 248, 248, 0.918);
  display: flex;
}

.review__button {
  font-weight: bold;
  border-radius: 56px;
  padding: 5px 10px;
  bottom: 0;
  margin-bottom: 25px;
  cursor: pointer;
}

.delete__button {
  border-radius: 35px;
  padding: 5px 10px;
  bottom: 0;
  background-color: white;
  margin-bottom: 25px;
  cursor: pointer;
  color: black;
}

.comments__ratingsBox {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
}

.comments__textBox {
  width: 90%;
  height: 100px;
  margin-top: 5px;
  margin-bottom: 10px;
}
