.comments__grid {
  padding-left: 150px;
  padding-bottom: 50px;
  padding-top: 20px;
  background-color: rgba(250, 248, 248, 0.918);
  display: flex;
}

.review__button {
  font-weight: bold;
  border-radius: 56px;
  padding: 5px 10px;
  bottom: 0;
  margin-bottom: 25px;
  cursor: pointer;
}

.delete__button {
  font-weight: bold;
  border-radius: 35px;
  padding: 5px 10px;
  bottom: 0;
  background-color: white;
  border-color: #722f37;
  margin-bottom: 25px;
  cursor: pointer;
  color: #722f37;
}

.comments__form {
}

.comments__ratingsBox {
  width: 100%;
}

.comments__textBox {
  width: 89.5%;
}
