.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 150px;
  height: 250px;
}

.slider_left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  background-color: rgb(179, 179, 179);
  border-radius: 999px;
  padding: 10px;
}

.slider_right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  background-color: rgb(179, 179, 179);
  border-radius: 999px;
  padding: 10px;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
