.login__modal {
  height: 450px;
  width: 800px;
}

#login__header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.form__container-leftSide {
  padding: 10px;
}

.form__container-rightSide {
}

.form__container {
  display: flex;
  justify-content: space-evenly;
}

.login__wineImage {
  height: 450px;
  width: 450px;
  margin-right: -62px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.button_test {
  padding: 10px;
}

.login__buttons {
  margin-top: 5px;
  font-weight: bold;
  border-color: transparent;
  background-color: #44a064a8;
  color: white;
  cursor: pointer;
}

.login__details {
  width: 100%;
  border-radius: 10px;
  padding: 0.5em;
  margin-bottom: 0.5em;
}
