.login__modal {
  height: 450px;
  width: 800px;
}

#login__header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.form__container-leftSide {
}

.form__container-rightSide {
}
