.campaign__grid {
  background: url(https://tr-images.condecdn.net/image/M82GoB0wXaN/crop/1020/f/tuscany1.jpg);
  height: 80vh;
  position: static;
  background-size: 100%;
  background-repeat: no-repeat;
}
